$dark-black: #212529;
$medium: #6c757d;
$light-text: #f8f9fa;
$dark-purple: #240046;
$medium-purple: #3c096c;
$light-purple: #c77dff;
$bg-lighter: #f8f9fa;
$bg-light: #e9ecef;
$bg-medium: #adb5bd;
$bg-dark: #343a40;
$bg-darker: #212529;

.article-title {
}

