$text-dark: #212529;
$text-medium: #6c757d;
$text-light: #f8f9fa;
$accent-dark: #240046;
$accent-medium: #3c096c;
$accent-light: #c77dff;
$accent-gold: #f5cb5c;
$bg-lighter: #fff;
$bg-light: #f8f9fa;
$bg-medium: #adb5bd;
$bg-dark: #343a40;
$bg-darker: #212529;

.article-preview-container {
    width: 50%;
}

