$text-dark: #212529;
$text-medium: #6c757d;
$text-light: #f8f9fa;
$accent-dark: #240046;
$accent-medium: #3c096c;
$accent-light: #c77dff;
$accent-gold: #f5cb5c;
$bg-lighter: #fff;
$bg-light: #f8f9fa;
$bg-medium: #adb5bd;
$bg-dark: #343a40;
$bg-darker: #212529;


@media only screen and (min-width: 1201px){
    
    header {
        grid-area: h;
        background-color: $bg-darker;
        color: $text-light;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;
        font-family: 'Space Mono', monospace;

        nav {
        height: 100%;

        ul {
            list-style: none;
            display: flex;
            align-items: center;
            margin: 0;
            height: 100%;
            padding: 0;

            li {
                display: inline;
                margin-right: 2rem;
                padding: 0 .5rem;
                height: 100%;
                transition: background-color 150ms;

                a {
                    height: 100%;
                    display: flex;
                    align-items: center;
                }
            }

            li:hover {
                background-color: $bg-dark;
            }
        }
    }

        .logout {
           font-weight: bold;
           height: 100%;
           padding: 0 .5rem;           
           transition: background-color 150ms;

           a {
               height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
           }

           a.active {
               text-decoration: underline;
           }
        }

        .logout:hover {
            background-color: $bg-dark;
        }
    }
}