$text-dark: #212529;
$text-medium: #6c757d;
$text-light: #f8f9fa;
$accent-dark: #240046;
$accent-medium: #3c096c;
$accent-light: #c77dff;
$accent-gold: #f5cb5c;
$bg-lighter: #fff;
$bg-light: #f8f9fa;
$bg-medium: #adb5bd;
$bg-dark: #343a40;
$bg-darker: #212529;
$shadow-default: 0 2px 10px 0 rgba(0,0,0,.1), 2px 4px 15px 0 rgba(0,0,0,.1), 8px 14px 30px 0 (rgba(0,0,0,.15));
$shadow-hover: 0 6px 25px 0 rgba(0,0,0,.1), 4px 8px 34px 0 rgba(0,0,0,.1), 12px 18px 44px 0 (rgba(0,0,0,.15));

* {
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $bg-light;
  color: $text-dark;
  font-family: 'Poppins', sans-serif;
}

.content {
  padding-top: 2rem;
}

@media only screen and (min-width: 320px) and (max-width: 480px){}
@media only screen and (min-width: 481px) and (max-width: 768px){}
@media only screen and (min-width: 769px) and (max-width: 1024px){}
@media only screen and (min-width: 1025px) and (max-width: 1200px){}

@media only screen and (min-width: 1201px){
  #root {
    display: grid;
    grid-template: 
      'h h h h h h h h h h h h' 60px
      "c c c c c c c c c c c c" 1fr / 400px 1fr 1fr 1fr;
  }

  .content {
    grid-area: c;
  }
}


/* GENERIC STYLES */
h1 {
  font-size: 2.5rem;
  margin: 0;
}

h2 {
  font-size: 2.2rem;
  margin: 0;
}

h3 {
  font-size: 1.95rem;
  margin: 0;
}

h4 {
  font-size: 1.6rem;
  margin: 0;
}

h5 {
  font-size: 1.3rem;
  margin: 0;
}

h6 {
  font-size: 1rem;
  margin: 0;
}

p {
  margin-bottom: .25rem;
}

button {
  height: 40px;
  padding: 0 10px;
  min-width: 4rem;
  border-radius: 0;
  border: 1px solid $bg-dark;
}

input {
  height: 40px;
  display: inline-block;
  min-width: 5rem;
  padding: 4px;
  margin-bottom: .5rem;
}

label {
  margin-bottom: .25rem;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}


/* UTILITY CLASSES */
/* display */
.hidden {
  display: none;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.flex-center {
  justify-content: center;
}

.flex-around {
  justify-content: space-around;
}

.flex-align-center {
  align-items: center;
}

.flex-direction-col {
  flex-direction: column;
}

.float-right {
  float: right;
}

.w-50 {
  width: 50%;
}

.w-30 {
  width: 30%;
}

.w-100 {
  width: 100%;
}

/* margin and padding */
.p-1 {
  padding: .5rem;
}

.p-2 {
  padding: 1rem;
}

.p-3 {
  padding: 2rem;
}

.m-1 {
  margin: .5rem;
}

.m-2 {
  margin: 1rem;
}

.m-3 {
  margin: 2rem;
}

/* buttons */
.btn {
  height: 40px;
  padding: 0 10px;
  min-width: 4rem;
  border-radius: 0;
  border: 1px solid $bg-dark;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-gold {
  background-color: $accent-gold;
  color: $text-dark;
  transition: background-color 150ms;
}

.btn-gold:hover {
  background-color: #e6ad0f;
}

.btn-primary {
  background-color: $accent-medium;
  border: 1px solid $bg-dark;
  color: $text-light;
  transition: background-color 150ms;
}

.btn-primary:hover {
  background-color: $accent-dark;
}

/* components */
.card {
  border: 1px solid $bg-medium;
  padding: 1rem;
  background: $bg-lighter;
  box-shadow: $shadow-default;
  transition: transform 150ms, box-shadow 150ms;
}

.card:hover {
  transform: scale(1.02);
  /*box-shadow: 0 6px 25px 0 rgba(0,0,0,.25);*/
  box-shadow: $shadow-hover;
}